02-kestra/flows/02-um-data-gcs-pipeline.yaml
id: um-data-gcs-pipeline
namespace: ultra-marathon

variables:
  file: "TWO_CENTURIES_OF_UM_RACES.csv"
  parquet_file: "TWO_CENTURIES_OF_UM_RACES.parquet"
  gcs_file: "gs://{{kv('GCP_BUCKET_NAME')}}/{{vars.parquet_file}}"

tasks:
  - id: download_file
    type: io.kestra.plugin.core.http.Download
    uri: https://www.kaggle.com/api/v1/datasets/download/aiaiaidavid/the-big-dataset-of-ultra-marathon-running

  - id: unzip
    type: io.kestra.plugin.compress.ArchiveDecompress
    algorithm: ZIP
    from: "{{ outputs.download_file.uri }}"

  - id: csv_to_parquet
    type: io.kestra.plugin.scripts.python.Script
    warningOnStdErr: false
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    containerImage: ghcr.io/kestra-io/pydata:latest
    env:
      FILE_NAME: "{{ vars.file }}"
    inputFiles: "{{ outputs.unzip.files }}"
    script: |
      import os
      import pandas as pd

      file_name = os.environ["FILE_NAME"]
      
      # Read CSV with low_memory disabled for consistent type inference
      df = pd.read_csv(file_name, low_memory=False)
      
      # Convert column names to lowercase snake_case:
      # This will replace spaces and slashes with underscores.
      df.columns = [col.strip().lower().replace(" ", "_").replace("/", "_") for col in df.columns]
      
      # Convert columns to their correct types:
      df["event_number_of_finishers"] = pd.to_numeric(df["event_number_of_finishers"], errors="coerce").astype("Int64")
      df["athlete_average_speed"] = pd.to_numeric(df["athlete_average_speed"], errors="coerce")
      
      # Write the dataframe to a Parquet file
      df.to_parquet("{{ vars.parquet_file }}", index=False)
    outputFiles:
      - "{{ vars.parquet_file }}"

  - id: upload_to_gcs
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{ outputs.csv_to_parquet.outputFiles[vars.parquet_file] }}"
    to: "{{ vars.gcs_file }}"

  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    description: To avoid cluttering your storage, we will remove the downloaded files.
    disabled: false


pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{kv('GCP_CREDS')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"